<%= form_for @gadget, :html => {:multipart => true} do |f| %>

    <%= f.label :name %><br />
    <%= f.text_field :name %><br />

    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %><br />

    <%= f.label :retired %><br />
    <%= f.check_box :retired %><br />
    
    <%= f.label :images %><br />
    <%= file_field_tag "images[]", type: :file, multiple: true %><br />

    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

