<%= form_for @gadget, :html => {:multipart => true} do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>

    <%= f.label :manufacturer %>
    <%= f.text_field :manufacturer, :class => "form-control" %>

    <%= f.label :retired %>
    <%= f.check_box :retired %><br />
    
    <%= f.label :images %>
    <%= file_field_tag "images[]", type: :file, multiple: true, :class => "form-control" %>

    <button type="submit" class="btn btn-primary">Submit</button>
<% end %>

