<div class="container">
	<% if !@gadgets.blank? %>
		<% unless params[:q] %>
			<%= render "carousel" %>
		<% end %>

	  <table class="table table-striped">
	    <thead>
	      <tr>
	      	<th>Image</th>
	        <th>Name</th>
	        <th>Manufacturer</th>
	        <th>Retired</th>
	        <th></th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
				<% @gadgets.each do |g| %>
					<tr>  
						<td>    
							<% if g.images[0] %>    
								<img src="<%= root_url + "system/images/photos/000/000/0" + g.images[0].id.to_s + "/small/" +  g.images[0].photo_file_name %>"/> 
							<% end %>
						</td>
						<td><%= g.name %></td>
						<td><%= g.manufacturer %></td>
						<td><%= g.retired %></td>
						<td><%= link_to 'Edit', edit_gadget_path(g) %></td>
          	<td><%= link_to 'Delete', g, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<% else %>
		You don't have any gadgets! What a shame.
	<% end %>
</div>